/* 全局属性*/

*{
    font-family:"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    margin: 0;
    padding: 0;
}
.container { width: 1310px; }

/** shop_header start*/

.shop_header {
                          background-color: #0D0A0A;
                          height: 40px;
                          color: #bbb;
                          line-height: 40px;
}
/* 重写了分隔线 */
.shop_header hr {
    height: 12px;
    padding: 14px;
    width: 1px;
    background: #666;
    background-clip: content-box;
    margin: 0;
    border: 0;
}

.shop_header a{
    color: #bbbbbb;
    text-decoration: none;
}
.shop_header a:hover {
    color: #f32196;
    text-decoration: none;
}

.header_left {
    height: 40px;
    padding: 0;
}

.header_left a, hr, p {
    float: left;
}

.header_left p {
    margin-right: 20px;
    font-size: 15px;
}

.header_right {
    padding: 0;
}

.header_right .shopping_cart, .list_func {
    float: right;
}
.header_right .list_func li, hr {
    float: left;
}

.header_right .shopping_cart {
    width: 95px;
    padding-left: 15px;
    background-color: #333333;

}

/* 购物车图标与字的距离 */
.header_right .shopping_cart a i {
    margin-right: 5px;
}

.shop_header .shopping_cart a .badge-danger {
    background-color: #f32196;
    top: 2px;
    position: absolute;
    right: 2px;
    padding: 3px 6px;
}

.header_right .shopping_cart .dropdown-menu {
    height: 150px;
}

.header_right .shopping_cart .dropdown-menu ul{
    list-style: none;
    padding: 0;
    text-align: center;
    height: 50px;
    margin: 0;
}

.header_right .shopping_cart .dropdown-menu ul li:nth-child(1) {
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #bbb;
}

.header_right .shopping_cart .dropdown-menu .dropdown_title {
    float: left;
    margin-left: 20px;
    font-size: 16px;
}

.header_right .shopping_cart .dropdown-menu .badge-danger {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    background-color: #f32196;
}


/* 重写购物车下拉菜单中的属性 */
.header_right .shopping_cart .dropdown-menu {
    margin:0;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #bbbbbb;
    width: 300px;
    color: #000;
    padding: 0;
}


.header_right .user_info {
    float: right;
    margin-right: 20px;
}



.header_right .user_info .icon_pic {
    margin-right: 5px;
    width: 20px;
    height:20px;
    border-radius:20px;
}


.header_right .user_info .dropdown-menu {
    right: 115px;
    margin:0;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #bbbbbb;
}

.header_right .list_func {
    height: 40px;
    margin-right: 20px;
}

.header_right .list_func ul {
    margin: 0;
    list-style: none;
}

/** shop_header end*/


/* shop_nav start */
.shop_nav {
    margin:0;
    height: 100px;
}

.shop_nav .logo {
    margin:0;
    line-height: 100px;
    padding: 0;
}

.shop_nav .nav_box {
    line-height: 100px;
}

.shop_nav .nav_box ul {
    list-style: none;
    font-size: 16px;
}

.shop_nav .nav_box ul li {
    float: left; margin-right: 55px
}

.shop_nav .nav_box ul li a {
    text-decoration: none;
    color: #0D0A0A;
}

.shop_nav .nav_box ul li a:hover {
    color: #f32196;
}

.shop_nav .search_box {
    margin: 25px 0;
    padding: 0;
}

.shop_nav .search_box form input[type=text] {
    height: 50px;
    width: 270px;
    float: left;
    border: 1px solid #e0e0e0;
    border-right: none;
    padding: 14px;
}

.shop_nav .search_box form button{
    width: 50px;
    height: 50px;
    line-height: 48px;
    background: none;
    font-size: 18px;
    color: #616161;
    border: 1px solid #e0e0e0;
    float: left;
}

.shop_nav .search_box form button:hover {
    background-color: #f32196;
    color: #ffffff;
    border-color: #f32196;
}

.shop_nav .search_box form input[type=text], button:focus {
    outline:none;
}

/* shop_nav end */

/* shop_lunbo start */

.swiper-pagination-bullet-active {
    background-color: #f32196;
}

/* shop_lunbo end */

/* shop_groom start */

.shop_groom .container {
    padding-top: 25px;
}

.shop_groom .title_box {
    height: 36px; margin: 0;
}

.shop_groom .title_box .title_name {
    width: 200px;
    font-size: 20px;
    float: left;
}

.shop_groom .title_box .title_move {
    float: right;
    margin-top: 4px;
}

.shop_groom .title_box .title_move i {
    width: 40px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border: 1px solid #e0e0e0;
}

.shop_groom .title_box .title_move .groom-prev {
    margin-right: -5px;
}

.shop_groom .title_box .title_move i:hover {
    background-color: #f32196;
    color: #FFFFFF;
    border-color: #f32196;
}

.shop_groom .groom_cut{
    margin:7px -7px 30px;
    padding: 7px 0;
}

.shop_groom .groom_cut .swiper-slide {
    width: 259px;
    height: 390px;
    padding: 0 7px;
}

.shop_groom .groom_cut .swiper-slide .groom_item {
    width: 245px;
    height: 390px;
    text-align: center;
    background-color: #fafafa;
    border-top: 1px solid #f32196;
    transition:transform 0.5s, box-shadow 0.5s;
}

.shop_groom .groom_cut .swiper-slide .groom_item a {
    text-decoration: none;
}

.shop_groom .groom_cut .swiper-slide .groom_item img {
    width: 215px;
    height: 215px;
    margin: 30px 15px 25px;
}

.shop_groom .groom_cut .swiper-slide .groom_item b {
    display: block;
    font-size: 15px;
    font-weight: normal;
    color: #000;
}

.shop_groom .groom_cut .swiper-slide .groom_item i {
    display: block;
    color: #b0b0b0;
    font-style: normal;
    margin-top: 5px;
    font-size: 12px;
}

.shop_groom .groom_cut .swiper-slide .groom_item p {
    display: block;
    margin: 15px 0 35px;
    width: 245px;
    color: #f00;
}

.shop_groom .groom_cut .swiper-slide .groom_item:hover{
    box-shadow: 0 6px 10px rgba(0,0,0,.175);
    transform:translate(0,-4px);
}

/* shop_groom end */

/* shop_discount start */

.shop_discount {
    background-color: rgb(245, 245, 245);
}

.shop_discount .discount_box, .new_box {
    height: 830px;
}

.shop_discount .discount_box .discount_title {
    height: 40px;
    line-height: 40px;
    margin-top: 30px;
}

.shop_discount .discount_box .discount_title .title_left {
    font-size: 20px;
}

.shop_discount .discount_box .discount_title .title_right {
    float: right;
}

.shop_discount .discount_box .discount_down {
    margin: 10px -7px 10px;
}

.shop_discount .discount_box .discount_down .discount_left {
    width: 258px;
    float: left;
    height: 748px;
}

.shop_discount .discount_box .discount_down .discount_left .discount_pic {
    padding: 7px;
}

.shop_discount .discount_box .discount_down .discount_left .discount_pic img {
    width: 245px;
    height: 360px;
}

.shop_discount .discount_box .discount_down .discount_right {
    float: left;
    width: 1036px;
}

.shop_discount .discount_box .discount_down .discount_right ul {
    list-style: none;
    margin: 0;
}

.shop_discount .discount_box .discount_down .discount_right ul li {
    float: left;
}

.shop_discount .discount_box .discount_down .discount_right .discount_pic {
    padding: 7px;
}

.shop_discount .discount_box .discount_down .discount_right .discount_pic a {
    text-decoration: none;
    color: #000;
}
.shop_discount .discount_box .discount_down .discount_right .discount_pic .discount_item {
    background-color: #ffffff;
    width: 245px;
    height: 360px;
}

.shop_discount .discount_box .discount_down .discount_right .discount_pic .discount_item img {
    width: 215px;
    height: 215px;
    margin: 30px 15px 15px;
}

.shop_discount .discount_box .discount_down .discount_right .discount_pic .discount_item b {
    display: block;
    text-align: center;
    font-size: 15px
}

.shop_discount .discount_box .discount_down .discount_right .discount_pic .discount_item i {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-style: normal;
    font-size: 12px;
    color: #b0b0b0;
}

.shop_discount .discount_box .discount_down .discount_right .discount_pic .discount_item .item_price {
    text-align: center
}

.shop_discount .discount_box .discount_down .discount_right .discount_pic .discount_item .item_price del {
    font-size: 10px;
}

.shop_discount .discount_box .discount_down .discount_right .discount_pic .discount_item .item_price span {
    color: #ff0000;
    font-size: 16px;
}

    /* 对shop_discount中的所有discount_item的属性进行设置 */
.shop_discount .discount_item {
     transition:transform 0.5s, box-shadow 0.5s;
}

.shop_discount .discount_item:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,.175);
    transform:translate(0,-4px);
}

/* shop_discount end */

/* shop_footer start */

.shop_footer .footer_pic {
    height: 84px;
    padding: 24px 0;
    border-bottom: 1px solid #e0e0e0;
}

.shop_footer .footer_pic ul {
    list-style: none;
    margin: 0;
}

.shop_footer .footer_pic li {
    float: left;
    width: 256px;
    text-align: center;
    font-size: 18px;
    line-height: 35px;
    border-right: 1px solid #e0e0e0;
}

.shop_footer .footer_pic li:nth-last-child(1) {
    border-right: none;
}

.shop_footer .footer_pic li a {
    text-decoration: none;
    color: #000;
}

.shop_footer .footer_pic li a i {
    top: 1px;
    margin-right: 5px;
    font-size: 22px;
}

.shop_footer .footer_text {
    padding: 24px 0 17px;
    height: 172px;
}

.shop_footer .footer_text .footer_content {
    width: 1024px;
    height: 131px;
    float: left;
}

.shop_footer .footer_text .footer_content ul {
    list-style: none;
    margin: 0;
}

.shop_footer .footer_text .footer_content li {
    margin-top: 8px;
    float: left;
    width: 170px;
}

.shop_footer .footer_text li .content_option {
    font-size: 14px;
    margin-bottom: 14px;
    color: #000
}

.shop_footer .footer_text li span {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    color: #757575;
}

.shop_footer .footer_info {
    float: left;
    width: 256px;
    height: 131px;
}

.shop_footer .footer_info .info_content {
    margin-top: 21px;
    border-left: 1px solid #e0e0e0;
}

.shop_footer .footer_info .info_content span {
    display: block;
    text-align: center;
}

.shop_footer .footer_info .info_content .info_call {
    color: #f32196;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 8px;
}

.shop_footer .footer_info .info_content .info_time {
    margin-bottom: 5px;
}

.shop_footer .footer_info .info_content .info_connection {
    font-size: 20px;
}

.shop_footer .footer_info .info_content .info_connection .fa-weibo {
    margin-right: 10px;
    color: #f96197;
}
.shop_footer .footer_info .info_content .info_connection .fa-weixin {
    margin-right: 10px;
    color: #83b944;
}

.shop_footer .footer_info .info_content .info_connection .fa-qq {
    color: #62a8ea;
}

/* shop_footer end */

/* shop_copyright start */

.shop_copyright {
    height: 70px;
    background-color: #FAFAFA;
}

.shop_copyright .copyright_info {
    line-height: 70px;
    font-size: 12px;
    color: #b0b0b0;
}

.shop_copyright .copyright_powered {
    float: right;
    line-height: 70px;
    font-size: 12px;
    color: #b0b0b0;
}

.shop_copyright .copyright_powered a {
    text-decoration: none;
    color: #000;
}

/* shop_copyright end */
.shop_type ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: block;
    margin: 27px 20px;
}

.shop_type ul li:nth-child(1) a {
    color: #f32196;
}

.shop_type ul li a:hover {
    color: #f32196;
}

.shop_result .result_item {
    width: 1295px;
    margin: 0 -7px;
}

.shop_result .result_item ul {
    list-style: none;
    margin: 0;
}
.shop_result .result_item ul li {
    float: left;
}

.shop_result .result_item .discount_pic {
    padding: 7px;
}

.shop_result .result_item .discount_pic a {
    text-decoration: none;
    color: #000;
}
.shop_result .result_item .discount_pic .discount_item {
    background-color: #ffffff;
    width: 245px;
    height: 360px;
}

.shop_result .result_item .discount_pic .discount_item img {
    width: 215px;
    height: 215px;
    margin: 30px 15px 15px;
}

.shop_result .result_item .discount_pic .discount_item b {
    display: block;
    text-align: center;
    font-size: 15px
}
.shop_result .result_item .discount_pic .discount_item i {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-style: normal;
    font-size: 12px;
    color: #b0b0b0;
}

.shop_result .result_item .discount_pic .discount_item .item_price {
    text-align: center
}

.shop_result .result_item .discount_pic .discount_item .item_price del {
    font-size: 10px;
}

.shop_result .result_item .discount_pic .discount_item .item_price span {
    color: #ff0000;
    font-size: 16px;
}

/* 对shop_discount中的所有discount_item的属性进行设置 */
.shop_result .result_item .discount_item {
    transition:transform 0.5s, box-shadow 0.5s;
}

.shop_result .result_item .discount_item:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,.175);
    transform:translate(0,-4px);
}